---
title: 'Account Maintenance'
heading: 'Please choose the action'
types: [
	{ icon: 'plan-change', title: 'Plan Change' },
	{ icon: 'feature-change', title: 'Feature Change' }
]
customSteps: [
	{ title: 'Customer Type', description: 'Account Maintenance' },
	{ title: 'Account Maintenance' },
	{ title: 'Boost Portal' },
	{ title: 'Download to POS' }
]
activeStep: 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
