---
title: 'Apply Promotion'
heading: 'Lorem ipsum dolor sit amet.'
types: [
	{ icon: 'boost-portal', title: 'Boost Portal' },
	{ icon: 'have-number', title: 'Already Have Phone&nbsp;Number/PTN' },
	{ icon: 'sales-quote', title: 'Sales Quote' }
]
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Activation' },
	{ title: 'Apply promotion', description: 'Applied' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- begin promo -->
	<div class="promo">
		<div class="promo__inner">
			<div class="promo__row">
				<div class="promo__label">Apply Promotion:</div>
				<div class="promo__field">
					{{form.inputBox.call({
						classList: 'is-error',
						placeholder: 'Input Promo Code',
						inputClassList: 'simple-input_sm',
						errorMessage: 'The coupon is not valid'
					})}}
				</div>
				<div class="promo__btn">
					<button class="btn btn_block btn_primary" data-animation="ripple">Redeem</button>
				</div>
			</div>
			<div class="promo__body">
				<div class="promo__subtitle">Please provide additional information:</div>
				<div class="promo__container">
					<div class="promo__row">
						<div class="promo__label">ESN:</div>
						<div class="promo__field">
							{{form.inputBox.call({
								classList: 'is-error',
								placeholder: 'Input ESN',
								inputClassList: 'simple-input_sm',
								errorMessage: 'ESN is not valid'
							})}}
						</div>
					</div>
					<div class="promo__row">
						<div class="promo__label">E-mail:</div>
						<div class="promo__field">
							{{form.inputBox.call({
								classList: 'is-error',
								placeholder: 'Input E-mail',
								inputClassList: 'simple-input_sm',
								errorMessage: 'E-mail is not valid'
							})}}
						</div>
					</div>
				</div>
			</div>
			<div class="promo__error">Text for error message</div>
		</div>
	</div>
	<!-- end promo -->

{% endblock %}