---
title: 'Apply Promotion'
heading: 'Lorem ipsum dolor sit amet.'
types: [
	{ icon: 'boost-portal', title: 'Boost Portal' },
	{ icon: 'have-number', title: 'Already Have Phone&nbsp;Number/PTN' },
	{ icon: 'sales-quote', title: 'Sales Quote' }
]
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Activation' },
	{ title: 'Apply promotion', description: 'Applied' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- begin promo -->
	<div class="promo">
		<div class="promo__inner">
			<div class="promo__row">
				<div class="promo__label">Apply Promotion:</div>
				<div class="promo__field">
					{{form.inputBox.call({
						placeholder: 'Input Promo Code',
						inputClassList: 'simple-input_sm'
					})}}
				</div>
				<div class="promo__btn">
					<button class="btn btn_block btn_primary" data-animation="ripple">Redeem</button>
				</div>
			</div>
			<div class="promo__body">
				<div class="promo__description">Please inform the customer that this coupon can only be used once and after it’s applied on this transaction in CAN’T be Reversed or used again.  Do they want to proceed?</div>
			</div>
		</div>
	</div>
	<!-- end promo -->

{% endblock %}