---
title: 'Choose Action'
heading: 'Please choose the Sales Quote/Preauthorization tool, or add an additional line'
types: [
	{ icon: 'boost-portal', title: 'Boost Portal' },
	{ icon: 'have-number', title: 'Already Have Phone&nbsp;Number/PTN' },
	{ icon: 'sales-quote', title: 'Sales Quote' }
]
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Activation' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block underContent %}
	<!-- begin promo -->
	<div class="promo">
		<div class="promo__inner">
			<div class="promo__row">
				<div class="promo__label form__label">Apply Promotion:</div>
				<div class="promo__field">
					{{form.inputBox.call({
						placeholder: 'Input Promo Code',
						inputClassList: 'simple-input_sm',
						inputAttrs: 'disabled',
						message: [
							'Q2 2018 Facebook Code Promo',
							'The coupon was successfully redeemed.'
						]
					})}}
				</div>
				<div class="promo__btn">
					{{mixins.icon('check-mark', 'promo__check')}}
				</div>
			</div>
		</div>
	</div>
	<!-- end promo -->
{% endblock %}