---
title: 'Choose Action'
heading: 'Please choose the Sales Quote/Preauthorization tool, or add an additional line'
types: [
	{ icon: 'sales-quote', title: 'Sales Quote' },
	{ icon: 'boost-portal', title: 'Boost Portal' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
