---
title: 'Customer Type'
heading: 'Please choose account type'
types: [
	{ icon: 'new-customer', title: 'New Account' },
	{ icon: 'existing-customer', title: 'Existing Account' },
	{ img: 'img/epay-payment.svg', alt: 'ePay', title: 'ePay Payment', classList: 'is-active' }
]
footer: { noPrev: true }
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn {{item.classList}}" data-animation="ripple">
						<span class="type__btn-icon">
							{% if item.icon %}
								{{mixins.icon(item.icon)}}
							{% else %}
								<img src="{{item.img}}" alt="{{item.alt}}">
							{% endif %}
						</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
