---
title: 'Contract Type'
heading: 'Please choose contract type'
types: [
	{
		title: 'Add A Line',
		items: [
			{ icon: 'activation-add-a-line', title: 'Activation<br>Add-A-Line' },
			{ icon: 'port-in-add-a-line', title: 'Port-In<br>Add-A-Line' },
			{ icon: 'byod-add-a-line', title: 'BYOD<br>Add-A-Line' },
			{ icon: 'upgrade-add-a-line', title: 'Upgrade<br>Add-A-Line' }
		]
	},
	{
		items: [
			{ icon: 'upgrade', title: 'Upgrade' },
			{ icon: 'boost-up', title: 'BoostUp!' },
			{ icon: 'plan-change', title: 'Plan Change' },
			{ icon: 'feature-change', title: 'Feature Change' }
		]
	}
	
]
customSteps: [
	{ title: 'Customer Type', description: 'Existing Customer' },
	{ title: 'Contract Type' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% for box in types %}
		<div class="type type_bordered" data-columns="4">
			{% if box.title %}
				<div class="type__title type__title_label">
					<span>{{box.title}}</span>
					<div class="info-win type__info-win tooltip-wrapper">
						{{mixins.icon('info', 'tooltip-control')}}
						<div class="tooltip tooltip_bottom tooltip_wide">
							<ol>
								{% for item in [
									'Activate all lines.',
									'Confirm primary line.',
									'Confirm ePay funds have been applied to primary to cover all lines.',
									'Go to SPG portal and link lines into family.',
									'Download all lines to POS.'
								] %}
									<li>{{item}}</li>
								{% endfor %}
							</ol>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="type__row">
				{% for item in box.items %}
					<div class="type__col">
						<button class="type__btn" data-animation="ripple">
							<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
							<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
						</button>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

{% endblock %}
