---
title: 'Contract Type'
heading: 'Please choose contract type'
types: [
	{ icon: 'activation-add-a-line', title: 'Activation<br>Add-A-Line' },
	{ icon: 'port-in-add-a-line', title: 'Port-In<br>Add-A-Line' },
	{ icon: 'byod-add-a-line', title: 'BYOD<br>Add-A-Line' },
	{ icon: 'upgrade-add-a-line', title: 'Upgrade<br>Add-A-Line' }
]
customSteps: [
	{ title: 'Customer Type', description: 'Existing Customer' },
	{ title: 'Contract Type' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
