---
title: 'IMEI/ESN Change'
heading: 'Please scan IMEI for the device being returned.'
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Upgrade' },
	{ title: 'IMEI/ESN Change' },
	{ title: 'Choose Action' },
	{ title: 'Download to POS' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form">
		<div class="form__field">
			<label class="form__label">IMEI:</label>
			{{form.inputBox.call({
				placeholder: 'Input IMEI'
			})}}
		</div>
	</div>

{% endblock %}
