---
title: 'Download to POS'
heading: 'Please enter the Mobile Number and PIN to download the&nbsp;activation(s)&nbsp;to&nbsp;POS'
types: [
	{ img: 'img/epay-payment.svg', alt: 'ePay', title: 'ePay Payment' },
	{ icon: 'start-family', title: 'Start Family', disabled: 'disabled' }
]
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Activation' },
	{ title: 'Choose action' },
	{ title: 'Download to POS' }
]
activeStep: 4
footer: {
	download: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form form_type" data-type-buttons="2">
		<form action="/">
			<div class="form__field">
				<label class="form__label">Mobile Number:</label>
				{{form.inputBox.call({
					placeholder: 'Input Mobile Number'
				})}}
			</div>
			<div class="form__field">
				<label class="form__label">PIN:</label>
				{{form.inputBox.call({
					placeholder: 'Input PIN'
				})}}
			</div>
			<div class="form__field">
				<button class="btn btn_darkgray btn_lg btn_block" data-animation="ripple-white">Add Another Line</button>					
			</div>
		</form>
		<div class="type form__type">
			<div class="type__row">
				{% for item in types %}
					<div class="type__col">
						<button class="type__btn" data-animation="ripple" {{item.disabled}}>
							<span class="type__btn-icon">
								{% if item.icon %}
									{{mixins.icon(item.icon)}}
								{% else %}
									<img src="{{item.img}}" alt="{{item.alt}}">
								{% endif %}
							</span>
							<span class="type__btn-title"><span>{{item.title | safe}}</span></span>
						</button>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
