---
title: 'Contract Type'
heading: 'Please choose contract type'
types: [
	{ icon: 'activation', title: 'Activation' },
	{ icon: 'port-in', title: 'Port-In' },
	{ icon: 'byod', title: 'BYOD' }
]
activeStep: 2
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
