---
title: 'Port Credit Eligibility Check'
heading: 'Please enter the Mobile Number to check Port-In Promotional Pricing eligibility.'
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Port-In' },
	{ title: 'Port Credit Eligibility Check' },
	{ title: 'Choose Action' },
	{ title: 'Download to POS' }
]
activeStep: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form form_wide">
		<form action="/">
			{% for item in range(0,5) %}
				<div class="form__field form__field_wide form__field_simple">
					<div class="fields">
						<div class="field">
							<div class="field__row field__row_top">
								<div class="field__col field__col_control">
									{{form.inputBox.call({
										placeholder: 'Input Mobile Number',
										classList: 'is-error'
									})}}
								</div>
								{% if loop.index < 5 %}
									<div class="field__col field__col_message">
										{% if loop.index === 1 %}
											<div class="form__text form__text_sm field__text color-green">{{mixins.icon('check')}} Mobile Number is eligible for Port Credit Promotional Pricing</div>
										{% endif %}
										{% if loop.index === 2 %}
											<div class="form__text form__text_sm field__text color-red">{{mixins.icon('error')}} Mobile Number is not eligible for Port Credit Promotional Pricing</div>
										{% endif %}
										{% if loop.index === 3 %}
											<div class="form__text form__text_sm field__text color-red">{{mixins.icon('error')}}Mobile Number is not eligible for Port Credit Promotional Pricing</div>
											<div class="form__text form__text_sm field__text color-red">
												<div class="form__icon">
													{{mixins.icon('alert', 'tooltip-control')}}
													<div class="tooltip tooltip_bottom form__tooltip">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
													</div>
												</div>
												The PTN is already active
											</div>
										{% endif %}
										{% if loop.index === 4 %}
											<div class="form__text form__text_sm field__text color-red">{{mixins.icon('error')}} Mobile Number is not eligible for Port Credit Promotional Pricing</div>
											<div class="form__text form__text_sm field__text color-red">
												<div class="form__icon">
													{{mixins.icon('information', 'tooltip-control')}}
													<div class="tooltip tooltip_top form__tooltip">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
													</div>
												</div>
												If you choose to proceed promotions are not going to be available for current customer
											</div>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="form__field form__field_top">
				<button class="btn btn_darkgray btn_lg btn_block" data-animation="ripple-white">Check Port Credit Eligibility</button>					
			</div>
		</form>
	</div>

{% endblock %}
