---
title: 'Port Credit Eligibility Check'
heading: 'Please enter the Mobile Number to check Port-In Promotional Pricing eligibility.'
customSteps: [
	{ title: 'Customer Type', description: 'New Customer' },
	{ title: 'Contract Type', description: 'Port-In' },
	{ title: 'Port Credit Eligibility Check' },
	{ title: 'Choose Action' },
	{ title: 'Download to POS' }
]
activeStep: 3
boxClassList: 'box_simple'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form form_md">
		<form action="/">
			{% for item in range(0,5) %}
				<div class="form__field form__field_wide form__field_simple">
					<div class="fields">
						<div class="field">
							<div class="field__row field__row_top">
								<div class="field__col">
									<label class="form__label">Mobile Number:</label>
									{{form.inputBox.call({
										placeholder: 'Input Mobile Number',
										classList: 'is-error',
										inputClassList: 'simple-input_sm'
									})}}
								</div>
								{% if loop.index < 3 %}
									<div class="field__col">
										<label class="form__label">Result:</label>
										{% if loop.index === 1 %}
											<div class="form__text form__text_sm field__text color-green">{{mixins.icon('check')}} Mobile Number is eligible for Port Credit Promotional Pricing</div>
										{% endif %}
										{% if loop.index === 2 %}
											<div class="form__text form__text_sm field__text color-red">{{mixins.icon('error')}} Mobile Number is not eligible for Port Credit Promotional Pricing</div>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="form__field">
				<button class="btn btn_darkgray btn_lg btn_block" data-animation="ripple-white">Check Port Credit Eligibility</button>					
			</div>
		</form>
	</div>

{% endblock %}
