{% import "partials/_mixins.html" as mixins %}
{% import "partials/form/_index.html" as form %}

<!-- begin modal-content -->
<div class="modal-content">
	<div class="modal-content__heading">Please, check that account types are correct for&nbsp;mobile&nbsp;numbers below:</div>
	<div class="modal-content__body">
		{% for item in [
			{
				selected: 1,
				phone: '(324) 123 7766'
			},
			{
				selected: 2,
				phone: '(324) 222 1122'
			}
		] %}
			<div class="modal-item">
				<div class="modal-item__label">
					<span>Mobile number:</span>
				</div>
				<div class="modal-item__row">
					<div class="modal-item__col">
						<div class="field-box">{{item.phone}}</div>
					</div>
					<div class="modal-item__col">
						{{form.selectBox.call({
							selected: item.selected,
							options: [ 'Primary', 'Additional' ]
						})}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="modal-content__footer">
		<button class="btn btn_darkgray text-uppercase modal-content__submit" data-modal-close="error-question" data-animation="ripple-white">Process</button>
	</div>
</div>
<!-- end modal-content -->