<!-- begin modal-content -->
<div class="modal-content">
	<div class="modal-content__heading">Current account is not enrolled into BoostUP!</div>
	<div class="modal-content__body">
		<p>Press OK button to proceed with transaction or Cancel to stay on current screen</p>
	</div>
	<div class="modal-content__footer">
		<button class="btn btn_darkgray text-uppercase modal-content__submit" data-modal-close="error-question" data-animation="ripple-white">Yes</button>
		<button class="btn btn_red text-uppercase modal-content__submit" data-modal-close="error-question" data-animation="ripple-white">No</button>
	</div>
</div>
<!-- end modal-content -->