.promo
	// padding-top: 40px
	&__inner
		position: relative
		padding: 20px
		margin: 0 auto
		// border: 1px solid #c6c6c6
		max-width: 560px
	&__title
		padding: 0 0 20px
		margin-top: -31px
		+f(22, 22, null, 500)
		text-align: left
		&_label
			font-size: 0
			> span 
				font-size: 22px
		span
			display: inline-block
			vertical-align: top
			padding: 0 15px
			background: $white
	&__row
		position: relative
		padding-right: 140px
		font-size: 0
		&:not(:last-child)
			margin-bottom: 20px
	&__label,
	&__field
		display: inline-block
		vertical-align: middle
	&__label
		padding-bottom: 0
		width: 40%
		font-size: 18px
		font-weight: 300
		line-height: 1.2
	&__field
		width: 60%
	&__btn
		position: absolute
		top: 0
		right: 0
		width: 120px
		min-height: 40px
	&__check
		position: absolute
		top: 50%
		left: 10px
		margin-top: -0.5em
		fill: $green
		font-size: 32px
	&__body
		padding-top: 30px
		.promo__row:not(:first-child)
			margin-top: 20px
		.input-box__error-message
			top: 50%
			left: 100%
			right: auto
			width: auto
			transform: translate(10px, -50%)
	&__subtitle
		margin-bottom: 15px
		font-size: 18px
		font-weight: 300
		line-height: 1.2
	&__error,
	&__success
		margin-top: 20px
		font-size: 18px
		font-weight: 300
		line-height: 1.2
	&__error
		color: $red