.field
	position: relative
	padding-right: 60px
	+ .field
		margin-top: 15px
	&__label
		position: absolute
		top: 50%
		left: 0
		font-size: 16px
		font-weight: 300
		line-height: 18px
		transform: translate3d(0,-50%,0)
	&__delete
		position: absolute
		top: 0
		right: 0
	&__row
		margin: 0 -10px
		font-size: 0
		+clr 
	&__col 
		display: inline-block
		vertical-align: middle
		padding: 0 10px
		width: 50%
