// .simple-select
// 	display: inline-block
// 	vertical-align: top
// 	padding: 0 15px
// 	border: 1px solid $lightGray
// 	border-radius: 0
// 	width: 100%
// 	height: 60px
// 	color: $darkGray
// 	background: none
// 	font-size: 18px
// 	font-weight: 400
// 	line-height: normal
// 	transition: border-color 0.17s ease-in-out
// 	appearance: none
// 	&:focus
// 		border-color: $blue
// 	&::-ms-expand
// 		display: none

.select2-container--default 
	.select2-selection--multiple, 
	.select2-selection--single
		border-color: #eee
		border-radius: 0
		background: none
		transition: border-color 0.3s
	.select2-selection--single 
		.select2-selection__rendered
			padding: 0 30px 0 15px
			font-size: 18px
			line-height: 58px
		.select2-selection__arrow
			width: 30px	
			height: 100%
			b
				margin-top: -4px
				margin-left: -6px
				+arr(12, 8, $darkGray, b)
				transition: transform 0.3s


.select2-container--classic,
.select2-container--default
	&.select2-container--open 
		.select2-selection--multiple, 
		.select2-selection--single
			border-color: $blue
		.select2-selection--single 
			.select2-selection__arrow b
				+arr(12, 8, $darkGray, b)
				transform: rotate(180deg)

.select2-container 
	.select2-selection--single
		height: 60px
 

.select2-dropdown
	border-color: $blue
	.select2-container--open &
		border-radius: 0

.select2-results__option
	padding: 6px 15px
	color: $darkGray
	font-size: 18px
	.select2-container--default &
		&.select2-results__option--highlighted[aria-selected]
			color: $darkGray
			background: #eee
		&.select2-results__option[aria-selected=true]
			color: $white
			background: $blue