<!-- begin modal-content -->
<div class="modal-content">
  <div class="modal-content__heading">Please, check that account types are correct for&nbsp;mobile&nbsp;numbers below:</div>
  <div class="modal-content__body">
    <div class="modal-item"> <label for="mobile-number-1" class="modal-item__label">
					<span>Mobile number:</span>
				</label>
      <div class="modal-item__row">
        <div class="modal-item__col">
          <div class="input-box "> <input type="text" class="simple-input input-box__input " placeholder="Input Mobile Number" id="mobile-number-1"> <button class="input-box__clear" type="button">
		
<svg class="icon icon-close"><use xlink:href="img/sprite.svg#icon-close"></use></svg>

	</button> </div>
        </div>
        <div class="modal-item__col">
          <div class="select-box "> <select class="simple-select select-box__select">
		
			<option value="Primary" selected>Primary</option>
		
			<option value="Additional" >Additional</option>
		
	</select> </div>
        </div>
      </div>
    </div>
    <div class="modal-item"> <label for="mobile-number-2" class="modal-item__label">
					<span>Mobile number:</span>
				</label>
      <div class="modal-item__row">
        <div class="modal-item__col">
          <div class="input-box "> <input type="text" class="simple-input input-box__input " placeholder="Input Mobile Number" id="mobile-number-2"> <button class="input-box__clear" type="button">
		
<svg class="icon icon-close"><use xlink:href="img/sprite.svg#icon-close"></use></svg>

	</button> </div>
        </div>
        <div class="modal-item__col">
          <div class="select-box "> <select class="simple-select select-box__select">
		
			<option value="Primary" >Primary</option>
		
			<option value="Additional" selected>Additional</option>
		
	</select> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-content__footer"> <button class="btn btn_darkgray text-uppercase modal-content__submit" data-modal-close="error-question" data-animation="ripple-white">Process</button> </div>
</div>
<!-- end modal-content -->
