<!-- begin modal-content -->
<div class="modal-content">
  <div class="modal-content__heading">Please, verify that account types are correct for&nbsp;the&nbsp;below&nbsp;mobile&nbsp;numbers</div>
  <div class="modal-content__body">
    <div class="modal-item">
      <div class="modal-item__label">
        <span>Mobile number:</span>
      </div>
      <div class="modal-item__row">
        <div class="modal-item__col">
          <div class="field-box">(324) 123 7766</div>
        </div>
        <div class="modal-item__col">
          <div class="select-box  js-select-parent">
            <select class="simple-select select-box__select js-select" style="width: 100%;">
              <option value="Primary Line" selected>Primary Line</option>
              <option value="Add A Line">Add A Line</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-item">
      <div class="modal-item__label">
        <span>Mobile number:</span>
      </div>
      <div class="modal-item__row">
        <div class="modal-item__col">
          <div class="field-box">(324) 222 1122</div>
        </div>
        <div class="modal-item__col">
          <div class="select-box  js-select-parent">
            <select class="simple-select select-box__select js-select" style="width: 100%;">
              <option value="Primary Line">Primary Line</option>
              <option value="Add A Line" selected>Add A Line</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-content__footer">
    <button class="btn btn_darkgray text-uppercase modal-content__submit" data-modal-close="error-question" data-animation="ripple-white">Process</button>
  </div>
</div>
<!-- end modal-content -->
