.icon-account-maintenance {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-activation-add-a-line {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-activation {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-additional-line {
  width: 0.94em;
  height: 1em;
  fill: #706F6F;
}
.icon-boost-portal {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
.icon-boost-up {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-byod-add-a-line {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-byod {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.11em;
  height: 1em;
  fill: #38AA35;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-epay-payment {
  width: 0.55em;
  height: 1em;
  fill: #2C478A;
}
.icon-error {
  width: 1.01em;
  height: 1em;
  fill: #E5231F;
}
.icon-existing-customer {
  width: 1em;
  height: 1em;
  fill: red;
}
.icon-feature-change {
  width: 0.55em;
  height: 1em;
  fill: #F39026;
}
.icon-have-number {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-new-customer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plan-change {
  width: 0.55em;
  height: 1em;
  fill: #fff;
}
.icon-port-in-add-a-line {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-port-in {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-primary-line {
  width: 0.94em;
  height: 1em;
  fill: #706F6F;
}
.icon-sales-quote {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-start-family {
  width: 1.14em;
  height: 1em;
  fill: #F39026;
}
.icon-upgrade-add-a-line {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-upgrade {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
